<h2>Products</h2>

  <p>
    <input type="checkbox" class="checkboxes" name="Electronic" checked (change)="onCheckbox($event)">
    <span for="Electronic">Electronic</span>

    <input type="checkbox" class="checkboxes" name="Entertainment" 
    checked (change)="onCheckbox($event)">
    <span for="Entertainment">Entertainment</span>

    <input type="checkbox" class="checkboxes" name="House" checked 
    (change)="onCheckbox($event)">
    <span for="House">House</span>

    <input type="checkbox" class="checkboxes" name="Book" checked
    (change)="onCheckbox($event)">
    <span for="Book">Book</span>
  </p> 

<app-interesting-items>
</app-interesting-items>